@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

   <MudLayout Class="mud-height-full">
        <MudMainContent class="d-flex flex-column justify-start align-content-start mud-height-full">
            <MudAppBar Elevation="0" Color="Color.Transparent">
                <a href="/">
                    <img id="logo"src="./img/zhue.png" height="50px;"/>
                </a>
                <MudSpacer />
               
                <div id="lg-menu">
                    <MudButton StartIcon="@Icons.Material.Outlined.Code" Href="/config" Variant="Variant.Text">
                        <span class="appbar-btn-text">Configuration</span>
                    </MudButton>
                </div>
            
            </MudAppBar>
            <MudContainer Id="app-container" Class="d-flex flex-column justify-start align-content-start mt-4 pa-8" MaxWidth="MaxWidth.Large" >
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
